div#formulario{
	border:none;
	}
	
table{
	width:700px;
}

tr.planeta{
	background-color:#3d0401;
}
tr.planeta-enano{
	background-color:#100024;
}
tr.satelite{
	background-color:#0a2e00;
}